/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-display: swap;
  /*border: 1px solid lightgreen;*/
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /*border: 1px solid orangered;*/
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/***  MAIN PAGE STYLING HERE ***/

/***  ALL PAGE VARIABLES HERE ***/
:root {
  /* website colors*/
  --primary-dark-400: #121612;
  --primary-dark-900: rgba(0, 0, 0, 1);
  --secondary-green-400: rgb(100, 244, 112);
  --secondary-green-faded: rgba(74, 185, 83, 0.783);
  --secondary-green-700: rgb(8, 46, 10);
  --secondary-green-900: rgb(5, 31, 7);
  --tempGray: rgba(61, 61, 61, 1);
  --white-400: #ffff;
}

/* html styling intiallizing font size to 14px for smaller devices */
html {
  font-size: 14px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* The styling for fonts and headers */
.pageTitle {
  font-size: 4.25rem;
  font-family: "Bebas Neue", cursive, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.125;
  margin: 0px 0rem 0.5rem;
}

.sectionTitle {
  font-size: 3rem;
  font-family: "Bebas Neue", cursive, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 1.25;
  margin: 0px 0rem 0.5rem;
}

/* The styling for fonts and headers */

.sectionPara {
  font-size: 1rem;
  line-height: 1.75;
}

button {
  box-shadow: none;
  cursor: pointer;
  width: 250px;
  height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 0.75rem;
}

/** BODY STYLING HERE **/

body {
  font-family: "Lato", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

strong {
  font: 700;
}

em {
  font-style: italic;
}

.bodyContainer {
  width: 100vw;
  height: 100%;
  background-color: var(--primary-dark-400);
  color: var(--white-400);
  padding-top: 100px;
}

/** HEADER STYLING STARTS HERE **/

.mainHeader {
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 100vw;
  min-height: 100px;
  background-image: linear-gradient(#121612, rgba(18, 22, 18, 0.21));
  align-items: center;
}

.mainNavBar {
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-size: 0.75rem;
}

header.scrolling {
  background-color: rgba(0, 0, 0, 0.95);
}

/** LOGO styling **/

.logoContainer {
  height: 100%;
  max-height: 100px;
  min-height: none;
  width: auto;
  overflow: hidden;
  margin-top: 0rem;
  margin-right: 2rem;
  cursor: pointer;
}

.logoLink {
  height: 100%;
  width: 100%;
}

.logoImg {
  height: 80px;
  width: auto;
}

/** Navigation stling starts here **/

.topNavList {
  display: none;
  align-items: center;
  column-gap: 1rem;
}

.navItem {
  margin: 0rem 0.5rem;
  position: relative;
}

.navLink {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: inherit;
  text-decoration: none;
}

.navLink:visited,
.navLink:active {
  color: inherit;
  text-decoration: none;
}

.navLink:hover {
  color: var(--secondary-green-400);
}

/* our work drop down menu */
.workDropDown {
  display: none;
  padding: 0.5rem;
  position: absolute;
  z-index: 5;
  background-color: var(--primary-dark-400);
  margin-top: 1rem;
}

#ourWorkNavItem:hover .workDropDown,
.workDropDown:hover .workDropDown {
  display: flex;
}

.clientsNavList {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  row-gap: 0.75rem;
}

.workDropDown > .clientsNavList > .navLink {
  font-size: 0.75rem;
  letter-spacing: 0px;
}

/** Navigation contact button styling **/

.contactItem {
  margin-left: 1.5rem;
}

.filledBtn {
  background-color: var(--secondary-green-faded);
  color: var(--white-400);
}

.contactBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3rem;
  max-height: 40px;
  width: 10rem;
  max-width: 124px;
  font-size: 0.75rem;
  box-shadow: none;
  border: 2px solid var(--secondary-green-faded);
  background-color: transparent;
  color: var(--secondary-green-400);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.contactBtn:hover {
  background-color: var(--secondary-green-700);
  background-color: var(--primary-dark-900);
  color: var(--white-400);
}

/** Navigation Mobile Styling starts here **/

.mobileMenuOpen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileMenuOpen i,
.mobileMenuClose i {
  cursor: pointer;
  font-size: 48px;
  color: var(--white-400);
}

.mobileMenuContainer {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60vw;
  min-width: 200px;
  max-width: 450px;
  height: 100vh;
  flex-direction: column;
  padding: 2rem 1rem 2rem 2.5rem;
  background-color: var(--primary-dark-400);
  background: rgba(11, 23, 14, 0.17);
  box-shadow: 0 4px 30px rgba(11, 23, 12, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.25s ease-in-out;
}

.mobileMenuContainer.active {
  transform: none;
}

.mobileMenuClose {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 3rem;
}

.mobileMenuNavList {
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  font-size: 1rem;
}

.mobileMenuNavList .navItem {
  margin: 0rem;
}

/** Navigation Mobile Styling ENDS here **/
/** Navigation stling ends here **/
/** HEADER stling ends here **/

/* FOOTER STYLING */

.mainFooter {
  font-family: "Lato", sans-serif;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 6rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 3rem;
}

.logoContainerFooter {
  height: 100%;
  overflow: hidden;
}

.logoImgFooter {
  height: 120px;
  width: auto;
}

.footerCopy {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  row-gap: 2rem;
  padding: 4rem 0rem 0rem;
}

.subscribeForm {
  flex-direction: column;
  row-gap: 6px;
}

.subscribeTitle {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0px 0px 4px;
}

.subscribeForm fieldset {
  box-shadow: none;
  border: none;
}

.subscribeForm input {
  box-shadow: none;
  height: 100%;
  min-height: 48px;
  padding: 0.65rem;
  border: 1px solid var(--secondary-green-400);
  width: 160px;
  font-size: 0.75rem;
  background-color: var(--primary-dark-400);
  color: var(--white-400);
}

.subscribeBtn {
  box-shadow: none;
  border: none;
  width: 72px;
  height: 54px;
  margin-left: -32px;
  border-radius: 0px 8px 8px 0px;
  background-color: rgb(49, 122, 55);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
}

.subscribeBtn:hover,
.subscribeBtn:focus {
  background-color: var(--primary-dark-900);
}

.subscribeThankYou {
  padding: 0.5rem 0rem 0rem;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.footerList {
  list-style-type: none;
  flex-direction: column;
  row-gap: 1rem;
  font-size: 0.85rem;
  font-weight: 300;
}

/* FOOTER STYLING ENDS HERE */

/***  INDEX PAGE STYLING HERE ***/
/***  INDEX PAGE STYLING HERE DEVICES SMALLER THAN 375PX ***/

.pageSection {
  width: 100vw;
  overflow-x: hidden;
}

/***  HERO SECTION SMALLER THAN 375PX ***/
.heroSection {
  align-items: center;
  justify-items: center;
  row-gap: 2.5rem;
  margin: 1rem 0rem 0rem;
  padding: 0rem 0rem 8rem;
  /*background blend*/
  background-color: transparent;
  background-image: linear-gradient(
    rgba(18, 22, 18, 0),
    rgba(18, 22, 18, 0.21),
    rgba(8, 52, 11, 1)
  );
  grid-template-columns: 1fr;
}

.heroCopyContainer {
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 4rem;
  row-gap: 1.5rem;
  text-align: center;
  grid-row: 1;
  max-width: 500px;
}

.heroCopyContainer .heroBtn {
  width: 250px;
  height: 60px;
  max-width: none;
  max-height: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-green-faded);
  color: var(--white-400);
  border: none;
}

.heroBtn:hover {
  background-color: var(--secondary-green-700);
  background-color: var(--primary-dark-900);
  /*color: var(--secondary-green-900);*/
}

.heroArtContainer {
  width: 100%;
  max-width: 500px;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  /*
  background-image: url("bkgHeroImgs/sojuOwnerShot-wide-500px-wide.jpeg");
  background-image: url("bkgHeroImgs/sojuOwnerShot-wide-500px-wide-new.webp");*/
  background-color: var(--primary-dark-900);
  background-position: center;
  background-size: cover;
  align-items: center;
}

.heroArtContainer video {
  width: 100%;
  height: 100%;
}

/***  HERO SECTION SMALLER THAN 375PX ENDS ***/
/***  CLIENT SECTION SMALLER THAN 375PX STARTS ***/

.clientsSection {
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 4rem;
  row-gap: 1.5rem;
  /*background blend*/
  background-color: transparent;
  background-image: linear-gradient(
    rgba(8, 52, 11, 1),
    rgba(100, 244, 112, 0.75)
  );
}

.logosBox {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin: 4rem 0rem;
  flex-direction: column;
  align-items: center;
  grid-gap: 3rem;
  width: 100%;
  max-width: 600px;
}

.clientLogoContainer {
  opacity: 0;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  padding: auto;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.clientLogoImg {
  height: 100%;
  max-height: 130px;
}

.clientLogoContainer:nth-child(2) {
  animation-delay: 0.25s;
}

.clientLogoContainer:nth-child(3) {
  animation-delay: 0.35s;
}

.clientLogoContainer:nth-child(4) {
  animation-delay: 0.45s;
}

.clientLogoContainer:nth-child(5) {
  animation-delay: 0.55s;
}

.clientLogoContainer:nth-child(6) {
  animation-delay: 0.65s;
}

.reveal {
  transform: translateY(100px);
  opacity: 0;
  animation: revealUp 0.45s ease-out forwards;
}

@keyframes revealUp {
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*
#angmaImg {
  max-height: 120px;
}

#guanatosImg {
  max-height: 120px;
}

#trilogyImg {
  max-height: 120px;
}*/

.reviewBox {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.5rem;
}

.quote {
  font-size: 1rem;
  padding: 1rem 2rem;
  line-height: 1.5;
  text-align: center;
}

.quoteAuthor {
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem 3rem;
  column-gap: 0.85rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

/***  CLIENT SECTION SMALLER THAN 375PX ENDS ***/
/***  ABOUT & SERVICES SECTION SMALLER THAN 375PX STARTS ***/

.aboutSection,
.servicesSection {
  margin: 1rem 0rem;
  padding: 6rem 0rem;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  text-align: center;
}

.servicesSection {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0rem;
}

.sectionArtContainer {
  margin-top: 2.5rem;
  min-width: 200px;
  max-width: 375px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  background-color: var(--tempGray);
}

.copyContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  padding: 1.25rem;
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.aboutBtn,
.learnMoreBtn {
  margin-top: 2rem;
  border: 2px solid var(--secondary-green-400);
  background-color: transparent;
  color: var(--secondary-green-400);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutBtn:hover,
.learnMoreBtn:hover {
  background-color: var(--primary-dark-900);
  color: var(--white-400);
}

.sectionList {
  flex-direction: column;
  margin: 1rem 0rem;
  padding-left: 1.5rem;
  row-gap: 1rem;
  text-align: left;
}

.servicesItem {
  text-transform: uppercase;
  letter-spacing: 4px;
}

/***  CLIENT SECTION SMALLER THAN 375PX ENDS ***/
/***  CTA SECTION SMALLER THAN 375PX STARTS ***/

.ctaSection {
  padding: 4rem 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
  background-color: var(--primary-dark-900);
}

.ctaSection .sectionPara {
  padding: 0rem 2rem;
  max-width: 500px;
  margin-bottom: 1.5rem;
}

.ctaBtn {
  width: 250px;
  height: 60px;
  max-width: none;
  max-height: none;
}

/***  CLIENT SECTION SMALLER THAN 375PX ENDS ***/
/***  INDEX PAGE STYLING SMALLER THAN 375PX ENDS ***/

/* ------ */
/***  SERVICES PAGE STYLING HERE ***/
/* ------ */

/* SERVICES HERO SECTION STYLING */
.servicesHero {
  background-image: linear-gradient(transparent, rgba(18, 22, 18, 0.04));
}

.servicesHero .servicesHeroArtContainer {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  justify-content: center;
  min-width: 200px;
  max-width: 375px;
  width: 100%;
  height: auto;
  max-height: 200px;
}

/* servcies box stling*/

.servicesPageServicesSection {
  grid-template-columns: 1fr;
  padding: 4rem 2rem;
  row-gap: 4rem;
  column-gap: 2rem;
  /*align-items: center;*/
  justify-items: center;
  background-image: linear-gradient(
    rgba(18, 22, 18, 0.04),
    rgba(100, 244, 112, 0.15),
    rgba(100, 244, 112, 0.62),
    rgba(18, 22, 18, 0.02)
  );
}

.serviceBox {
  position: relative;
  flex-direction: column;
  width: 250px;
  min-height: 550px;
  max-height: 800px;
  height: 100%;
  padding: 2rem 1.5rem 1rem;
  background-color: rgb(0, 0, 0, 0.8);
  color: var(--white-400);
  border-radius: 0.5rem;
}

.iconContainer {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgb(47, 95, 51);
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5%;
  left: 0;
  right: 0;
  margin: auto;
}

.iconContainer img {
  width: 48px;
  max-width: 100%;
}

.serviceHeading {
  padding-bottom: 2rem;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 1.25;
  font-size: 2rem;
  text-align: center;
}

.listBox {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.listHeading {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  line-height: 1.25;
  font-size: 0.95rem;
  text-align: center;
}

.servicesBoxList {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  list-style-type: square;
  padding: 0.5rem 0rem 0.5rem 1rem;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  row-gap: 0.75rem;
  line-height: 1.5;
}

/***  SERVICES PAGE STYLING ENDS HERE ***/

/* ------ */
/***  OUR TEAM PAGE STYLING HERE ***/
/* ------ */

.teamPageBody .ourWorkHeroArtContainer {
  background-image: none;
  width: fit-content;
}

.meetTeamSection {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 10rem;
  padding: 10rem 0rem;
  background-image: linear-gradient(rgba(8, 52, 11, 1), rgba(18, 22, 18, 0));
}

.teamHeroCopy {
  max-width: 500px;
  font-size: 0.85rem;
}

.teamBox {
  position: relative;
  width: 100%;
  max-width: 550px;
  height: 100%;
  min-height: 400px;
  padding: 1rem;
  background-color: #3b9642;
  color: var(--white-400);
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
}

.headshotContainer {
  position: absolute;
  top: -60px;
  z-index: 2;
  width: 85%;
  height: auto;
  overflow: hidden;
}

.teamMemberBioCopy {
  width: 100%;
  text-align: left;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
}

.teamMemberName {
  margin-top: 60%;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

/***  OUR TEAM PAGE STYLING ENDS HERE ***/

/* ------ */
/***  OUR WORK PAGE STYLING HERE ***/
/* ------ */

.ourWorkCopy {
  width: 100%;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.clientWorkSection {
  position: relative;
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  padding: 1rem;
  margin: auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: center;
}

.clientWorkBox {
  width: 90%;
  height: auto;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.clientWorkBox:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.thumbnailContainer {
  width: 100%;
  aspect-ratio: 1 / 0.65;
  max-width: 300px;
  min-width: 120px;
  height: auto;
  background-color: var(--tempGray);
  margin-bottom: 0.5rem;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.thumbnailContainer img {
  max-width: 120%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

#guanatosThumbnail {
  object-fit: cover;
  background-image: url("clientFolders/guanatos/guanatos-smallest.jpg");
  background-size: cover;
}

#trilogyThumbnail {
  object-fit: cover;
  object-position: center;
  background-image: url("clientFolders/trilogy-soccer/trilogy-coach-smallest.jpg");
  background-size: cover;
}

#angmaThumbnail {
  object-fit: cover;
  object-position: center;
  background-image: url("clientFolders/angma/sojuOwner-small.jpeg");
  background-size: cover;
  background-position: center;
}

#platinumThumbnail {
  object-fit: cover;
  background-image: url("clientFolders/platinum/platinum-smallest.jpg");
  background-size: cover;
}

.thumbnailContainer.loaded img {
  opacity: 1;
}

.clientTextBox {
  width: 100%;
  padding: 0.5rem 0rem;
  text-align: center;
}

.clientName {
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0rem 0rem 0rem;
  line-height: 1.2;
}

/***  OUR WORK PAGE STYLING ENDS HERE ***/

/* ------ */
/***  CLIENT PAGE STYLING HERE FOR SMALLER THAN 375PX ***/
/* ------ */

.clientHero {
  margin: 3rem 0rem;
  column-gap: 2rem;
  padding: 1rem 2rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.clientVideoContainer {
  width: 250px;
  height: 150px;
  background-color: var(--primary-dark-400);
}

.clientVideoContainer video {
  width: 100%;
  object-position: center;
  background-color: black;
}

.clientCopyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.clientCopyContainer .sectionPara {
  margin: 0.35rem 0rem;
}

.clientCopyContainer .clientSubheading {
  margin-top: 2rem;
}

.sectionPara strong {
  font-weight: 900;
}

.sectionPara em {
  font-style: italic;
}

.industryPara strong,
.challengePara strong,
.solutionPara strong {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: 4px;
}

.instaLink {
  font-size: 0.75rem;
  color: var(--white-400);
  opacity: 0.8;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 0rem;
}

.instaLink:hover {
  text-decoration: underline;
}

.content {
  width: 100%;
  padding: 2rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
}

.contentBlock {
  background-color: var(--tempGray);
  aspect-ratio: 4 / 5.5;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.contentBlock img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

/* angma backgroun lazy imgs*/
#angmaSojuClientImg {
  background-image: url("clientFolders/angma/angma-imgs/soju-client-smallest.jpg");
}

#soju-graphic-colors-img {
  background-image: url("clientFolders/angma/angma-imgs/soju-graphic-colors-smallest.jpg");
}

#sojuHand {
  background-image: url("clientFolders/angma/angma-imgs/soju-hand-smallest.jpg");
}

#soju-pour-portrait {
  background-image: url("clientFolders/angma/angma-imgs/soju-pour-portrait-smallest.jpg");
}

#soju-pour {
  background-image: url("clientFolders/angma/angma-imgs/soju-pour-smallest.jpg");
}

#soju-ringup {
  background-image: url("clientFolders/angma/angma-imgs/soju-ringup-smallest.jpg");
}

/* trilogy soccer clients */

#cole-reed-img {
  background-image: url("clientFolders/trilogy-soccer/trilogy-imgs/cole-reed-smallest.jpg");
}

#nathan-alonso-img {
  background-image: url("clientFolders/trilogy-soccer/trilogy-imgs/nathan-alonso-dribble-smallest.JPG");
}

#cole-solo-img {
  background-image: url("clientFolders/trilogy-soccer/trilogy-imgs/cole-solo-img-smallest.jpg");
}

/* platinum clients */

#second-wash {
  background-image: url("clientFolders/platinum/platinum-imgs/platinum-second-wash-smallest.jpg");
}

#premium-wash {
  background-image: url("clientFolders/platinum/platinum-imgs/platinum-smallest.jpg");
}

#guanatos-grill {
  background-image: url("clientFolders/guanatos/guanatos-img/guanatos-smallest.jpg");
}

#guanatos-ramen-coke {
  background-image: url("clientFolders/guanatos/guanatos-img/guanatos-ramen-coke-smallest.JPG");
}

#guanatos-ramen {
  background-image: url("clientFolders/guanatos/guanatos-img/guanatos-ramen-smallest.JPG");
}
.contentBlock.loaded img {
  opacity: 1;
  height: -webkit-fill-available;
}

/***  CLIENT PAGE STYLING ENDS HERE ***/

/* ------ */
/***  CONTACT PAGE STYLING HERE ***/
/* ------ */

.contactSection {
  width: 100%;
  padding: 1rem;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  background-color: var(--secondary-green-400);
  background-image: -moz-linear-gradient(
    rgba(18, 22, 18, 1),
    rgba(18, 22, 18, 0.85),
    rgba(18, 22, 18, 0.5),
    rgba(100, 244, 112, 1)
  );
  background-image: linear-gradient(
    rgba(18, 22, 18, 1),
    rgba(18, 22, 18, 0.85),
    rgba(18, 22, 18, 0.5),
    rgba(100, 244, 112, 1)
  );
}

.contactCopyContainer {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.contactCopyContainer .sectionPara {
  font-weight: 300;
}

.contactInfoList {
  list-style-type: none;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 2rem;
  margin: 2.5rem 0rem;
  font-size: 1.25rem;
}

.contactInfoItem {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.75rem;
}

.contactInfoItem i {
  font-size: 1.5rem;
  color: var(--white-400);
}

/* contact form styling*/

.contactForm {
  max-width: 100vw;
  min-width: 200px;
  height: 100%;
  padding: 2rem;
  background-color: var(--primary-dark-900);
  color: var(--white-400);
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  box-shadow: -30px 40px 200px var(--primary-dark-900);
}

.formItem {
  width: 100%;
  flex-direction: column;
  row-gap: 6px;
  font-size: 0.85rem;
}

.formItem label {
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.formItem input,
.formItem textarea {
  border: 1px solid var(--secondary-green-400);
  background-color: var(--primary-dark-400);
  color: var(--white-400);
  padding: 8px 10px;
}

.firstNameSpan {
  grid-column: 1;
  grid-row: 1;
}

.lastNameSpan {
  grid-column: 1;
  grid-row: 2;
}

.emailSpan {
  grid-column: 1;
  grid-row: 3;
}

.messageSpan {
  grid-column: 1;
  margin-bottom: 3rem;
}

.formSendBtn {
  width: 12rem;
  max-width: 190px;
  height: 3rem;
  max-height: 64px;
  font-size: 0.75rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  align-self: flex-end;
  border: 2px solid var(--secondary-green-faded);
  background-color: var(--primary-dark-900);
  color: var(--secondary-green-faded);
}

.formSendBtn:hover {
  background-color: var(--secondary-green-700);
  color: var(--white-400);
}

/** Thank you message **/

.thankYouContainer,
.messageSending {
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  grid-column: 1 / -1;
}

.thankYouContainer .thankYouTitle,
.messageSending .sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.thankYouContainer .thankYouTitle,
.thankYouContainer i,
.thankYouContainer p {
  opacity: 0;
  animation: thankYouFade 1.5s ease-in forwards;
}

.thankYouContainer i,
.messageSending i {
  color: var(--secondary-green-400);
  font-size: 5rem;
}

.messageSending i {
  opacity: 0;
  transform: translateX(-30px);
  animation: messageAnim 1s ease-out infinite;
}

.thankYouContainer p {
  padding: 1rem 4rem;
}

@keyframes messageAnim {
  50% {
    opacity: 1;
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes thankYouFade {
  100% {
    opacity: 1;
  }
}

/***  CONTACT PAGE STYLING ENDS HERE ***/

/* ------ */
/*** DEVICES LESS THAN 375PX ABOVE ***/
/* ------ */
/* ------ */
/*** DEVICES MORE THAN 375PX BELOW ***/
/* ------ */

@media only screen and (min-width: 375px) {
  /* ------ */
  /*** HEADER STYLING 375PX OR MORE ***/
  /* ------ */
  .mainHeader {
    padding: 1rem;
  }

  /* ------ */
  /*** FOOTER STYLING 375PX OR MORE ***/
  /* ------ */

  .mainFooter {
    justify-content: center;
  }

  .subscribeForm input {
    width: 240px;
  }

  /* ------ */
  /*** INDEX STYLING 375PX OR MORE ***/
  /* ------ */

  .about-servicesContainer {
    position: relative;
  }

  .sectionImg {
    width: -webkit-fill-available;
  }

  .about-servicesContainer:after {
    content: "";
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    max-width: 800px;
    min-width: 400px;
    width: 90vw;
    background-color: rgba(100, 244, 112, 0.15);
    position: absolute;
    z-index: -10;
    top: -25%;
    left: 0;
    right: 0;
    margin: auto;
    filter: blur(600px);
  }

  .sectionArtContainer {
    margin-top: 2.5rem;
    min-width: 375px;
    max-width: 600px;
    width: 100%;
    height: auto;
  }

  .ctaSection .sectionPara {
    padding: 0rem 4rem;
  }

  /* ------ */
  /*** SERVICES PAGE STYLING 375PX OR MORE ***/
  /* ------ */
  .servicesHero .servicesHeroArtContainer {
    min-width: 375px;
    max-width: 500px;
    width: 100%;
    height: auto;
    max-height: 500px;
    box-shadow: -20px 24px 50px var(--primary-dark-900);
  }

  /* servcies box stling*/

  .servicesPageServicesSection {
    align-items: center;
  }

  .serviceBox {
    position: relative;
    flex-direction: column;
    width: 300px;
    height: 600px;
    min-height: none;
    max-height: none;
    padding: 4rem 2rem 1rem;
  }

  /* ------ */
  /*** OUR TEAM STYLING 375PX OR MORE ***/
  /* ------ */

  .meetTeamSection {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    column-gap: 2rem;
    row-gap: 10rem;
    padding: 10rem 0rem;
    background-image: linear-gradient(rgba(8, 52, 11, 1), rgba(18, 22, 18, 0));
  }

  /* ------ */
  /*** CONTACT STYLING 375PX OR MORE ***/
  /* ------ */

  .contactSection {
    padding: 3rem;
    justify-items: center;
  }

  .contactInfoList {
    padding-left: 6rem;
  }

  .contactForm {
    max-width: 500px;
    min-width: 200px;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }

  .firstNameSpan {
    grid-column: 1;
    grid-row: 1;
  }

  .lastNameSpan {
    grid-column: 2;
    grid-row: 1;
  }

  .emailSpan {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .messageSpan {
    grid-column: 1 / 3;
    margin-bottom: 3rem;
  }

  /* ------ */
  /*** OUR WORK & CLIENT STYLING 375PX OR MORE ***/
  /* ------ */

  .clientWorkSection {
    max-width: 1200px;
    min-width: 250px;
    padding: 2rem 1rem;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1.75rem;
    justify-items: center;
  }

  .thumbnailContainer {
    width: 100%;
    aspect-ratio: 1 / 0.65;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    background-color: var(--tempGray);
    margin-bottom: 0.5rem;
  }

  .thumbnailContainer img {
    max-width: 120%;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  .clientVideoContainer {
    width: 350px;
    height: 200px;

    background-color: var(--tempGray);
  }

  .clientCopyContainer {
    max-width: 400px;
  }
}

/* ------ */
/*** DEVICES STYLING 600PX OR MORE BELOW ***/
/* ------ */

@media only screen and (min-width: 600px) {
  /* ------ */
  /*** INDEX STYLING 600PX OR MORE ***/
  /* ------ */
  .anim-fadeFromRight {
    opacity: 0;
    transform: translateX(50px);
    animation: slideIn 0.35s ease-out forwards;
    animation-delay: 0.35s;
  }

  .anim-fadeFromLeft {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 0.35s ease-out forwards;
    animation-delay: 0.35s;
  }

  .anim-fadeUp {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.45s ease-out forwards;
    animation-delay: 0.35s;
  }

  /* animation delays */

  .heroBtn {
    animation-delay: 0.65s;
  }

  .titleSubheading.anim-fadeUp {
    animation-delay: 0.65s;
  }

  .heroCopyContainer .sectionPara.anim-fadeUp {
    animation-delay: 0.65s;
  }

  .contactCopyContainer .sectionPara {
    animation-delay: 0.75s;
  }

  .contactInfoList {
    animation-delay: 1s;
  }

  .contactForm {
    animation-delay: 1s;
  }

  @keyframes slideIn {
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .heroArtContainer video {
    box-shadow: -20px 24px 50px var(--primary-dark-900);
    object-position: center;
  }

  .sectionArtContainer {
    box-shadow: 20px 20px 50px var(--primary-dark-900);
  }

  .servicesSection {
    margin-top: 0px;
    margin-bottom: 0rem;
    padding-bottom: 8rem;
  }

  /* ------ */
  /*** OUR TEAM STYLING 600PX OR MORE ***/
  /* ------ */

  .meetTeamSection {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    align-items: center;
    justify-items: center;
    column-gap: 2rem;
    row-gap: 10rem;
    padding: 6rem 1rem;
  }

  .teamBox {
    padding: 2rem;
  }

  /* ------ */
  /*** OUR WORK STYLING 600PX OR MORE ***/
  /* ------ */

  .clientWorkSection {
    padding: 1rem;
    margin: auto;
    grid-gap: 2rem 1rem;
    justify-items: center;
  }

  .clientWorkBox,
  .clientTextBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ------ */
  /*** CLIENT STYLING 600PX OR MORE ***/
  /* ------ */

  .clientVideoContainer {
    width: 600px;
    height: 350px;

    background-color: var(--tempGray);
  }
}

/* ------ */
/*** STYLING 768PX OR MORE BELOW ***/
/* ------ */

@media only screen and (min-width: 768px) {
  /* ------ */
  /*** FONT SIZE RESIZING ***/
  /* ------ */
  html {
    font-size: 16px;
  }

  /* ------ */
  /*** FOOTER STYLING 768PX OR MORE ***/
  /* ------ */

  .mainFooter {
    padding: 2rem 2.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
  }

  .heroSection {
    height: calc(100vh - 100px);
    min-height: 890px;
    max-height: 900px;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
    margin: 0rem;
    padding: 1rem;
    /*
    grid-template-columns: repeat(2, minmax(350px, 1fr));*/
    width: 100%;
  }

  .heroArtContainer {
    max-width: 600px;
    object-fit: cover;
  }

  /* ------ */
  /*** INDEX / CTA  STYLING 768PX OR MORE ***/
  /* ------ */

  .ctaSection {
    padding: 6rem 4rem;
  }

  .ctaSection .sectionPara {
    padding: 0rem 4rem;
    max-width: 500px;
    margin-bottom: 1.5rem;
  }

  .ctaBtn {
    width: 250px;
    height: 60px;
    max-width: none;
    max-height: none;
  }

  /* ------ */
  /*** SERVICES PAGE STYLING 768PX OR MORE ***/
  /* ------ */

  .servicesPageServicesSection {
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .serviceBox {
    position: relative;
    flex-direction: column;
    width: 375px;
    height: 650px;
  }

  /**/
  .clientWorkSection {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .thumbnailContainer {
    max-width: 400px;
  }

  /* ------ */
  /*** OUR TEAM STYLING 768PX OR MORE ***/
  /* ------ */
  .headshotContainer {
    position: absolute;
    top: -50px;
    z-index: 2;
    width: 75%;
    height: auto;
    overflow: hidden;
  }

  /* our team */
  .teamMemberBioCopy {
    width: 100%;
    text-align: left;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .teamMemberName {
    margin-top: 16rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
  }

  /* ------ */
  /*** CONTACT STYLING 768PX OR MORE ***/
  /* ------ */
  .contactForm {
    max-width: 600px;
    min-width: 200px;
  }
}

/* ------ */
/*** PAGE STYLING 900PX OR MORE BELOW ***/
/* ------ */

@media only screen and (min-width: 950px) {
  /* ------ */
  /*** HEADER STYLING 900PX OR MORE ***/
  /* ------ */

  .topNavList {
    display: flex;
  }

  .mobileMenuOpen,
  .mobileMenuContainer {
    display: none;
  }

  .pageTitle {
    font-size: 4.75rem;
    margin-top: 0px;
    letter-spacing: 1.5px;
  }

  .sectionTitle {
    font-size: 3.5rem;
  }

  /* ------ */
  /*** INDEX STYLING 900PX OR MORE ***/
  /* ------ */

  .heroSection {
    grid-template-columns: repeat(2, minmax(425px, 1fr));
    max-width: 1600px;
    min-height: auto;
  }

  .heroCopyContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 1rem;
    text-align: left;
    grid-row: unset;
    max-width: 450px;
  }

  .clientsSection {
    padding: 6rem 1rem;
    row-gap: 1.5rem;
  }

  /* ------ */
  /*** CLIENTS PAGE STYLING 900PX OR MORE ***/
  /* ------ */
  .clientHero {
    column-gap: 4rem;
    flex-direction: row;
    align-items: flex-start;
  }

  .clientVideoContainer {
    width: 450px;
    height: 275px;

    background-color: var(--tempGray);
  }

  .clientCopyContainer {
    max-width: 400px;
    text-align: left;
    align-items: flex-start;
  }

  /* ------ */
  /*** SERVICES PAGE STYLING 900PX OR MORE ***/
  /* ------ */
  .servicesHero {
    align-items: center;
  }
  /* ------ */
  /*** OUR TEAM STYLING 900PX OR MORE ***/
  /* ------ */
  .teamHero {
    flex-direction: row-reverse;
    align-items: flex-start;
    height: 100%;
    margin-bottom: 8rem;
  }

  /* ------ */
  /*** CONTACT STYLING 900PX OR MORE ***/
  /* ------ */
  .contactSection {
    width: 100%;
    padding: 2rem 3rem;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    column-gap: 2rem;
  }

  .contactForm {
    max-width: 600px;
    min-width: 400px;
    padding: 3rem;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .formSendBtn {
    width: 15rem;
    max-width: 240px;
    height: 3rem;
    max-height: 64px;
    font-size: 0.85rem;
  }
}

/* ------ */
/*** PAGE STYLING 1200PX OR MORE BELOW ***/
/* ------ */

@media only screen and (min-width: 1200px) {
  /* ------ */
  /*** HEADER STYLING 1200PX OR MORE ***/
  /* ------ */
  .mainHeader {
    padding: 0.75rem 4rem;
  }

  /* ------ */
  /*** INDEX STYLING 1200PX OR MORE ***/
  /* ------ */
  .aboutSection,
  .servicesSection {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 0rem;
    column-gap: 2rem;
    text-align: left;
  }

  .servicesSection {
    flex-direction: row-reverse;
  }

  .sectionArtContainer {
    margin-top: 0rem;
    min-width: 500px;
    max-width: 650px;
    width: 100%;
    height: auto;
    max-height: 450px;
  }

  .copyContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 400px;
    max-width: 500px;
    text-align: left;
  }
  /* ------ */
  /*** SERVICES STYLING 1200PX OR MORE ***/
  /* ------ */
  .servicesHero {
    align-items: flex-start;
  }

  /* ------ */
  /*** OUR TEAM STYLING 1200PX OR MORE ***/
  /* ------ */

  .teamHero {
    align-items: center;
  }

  .meetTeamSection {
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    align-items: center;
    justify-items: center;
    column-gap: 2rem;
    row-gap: 10rem;
    padding: 6rem 1rem;
  }

  /* ------ */
  /*** CONTACT PAGE STYLING 1200PX OR MORE ***/
  /* ------ */

  .contactSection {
    width: 100%;
    padding: 3rem 6rem;
  }

  /* ------ */
  /*** OUR WORK STYLING 1200PX OR MORE ***/
  /* ------ */

  /* ------ */
  /*** CLIENT PAGE STYLING 1200PX OR MORE ***/
  /* ------ */

  .clientVideoContainer {
    width: 600px;
    height: 350px;

    background-color: var(--tempGray);
  }

  .clientCopyContainer {
    max-width: 600px;
  }
}

/* ------ */
/*** PAGE STYLING 1200PX OR MORE ABOVE ***/
/* ------ */

/* ending classes */
.hidden {
  display: none;
}
